<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
 <div id="language-wrapper">
   <div class='top-text'>welcome to ShigaTrip sight . </div>
     <p class="language-text">
     みんなで滋賀県のおすすめスポットを投稿して共有しましょう！
     </p>
 </div>

 <script src="application.js"></script>