// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  margin: 0;
  padding: 0;
}

.table2 {
  background:#ffff00;
  margin: 5px auto;
}
